@import url(./components/template.css);
/* define global css var */
:root{
    --title-font:Joan;
    --header-font:Kdam;
    --content-font:Roboto;

    --header-color: rgb(222,225,230);

    --page-id: 2;
}
html, body {
    height:100%;
}

.motor{
    display:flex;
    flex-direction: column;
}
.motor img{
    max-width: 250px;
    object-fit:cover;
    width:40%;
}
.motor p{
    text-align: center;
    background-color: var(--header-color);
    padding:1rem;
    font-family:var(--title-font);
    font-weight:bold;
}
.img_info{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin:0 auto 2rem;
    align-items:center;
}
.motor_info{
    list-style-type:none;
    padding:1rem;
    font-family:var(--title-font);
    margin-left: 7%;
}
.motor_info div{
    display:inline-block;
}
.delemeter{
    font-size:1.5rem;
    margin: 0.6rem 0 0.2rem;
    font-family:var(--title-font);
    border-bottom: 1px solid black;
    /* width: 15rem; */
}
.info{
    font-size:1.1rem;
    margin: 0.2rem 0 ;
    font-weight: bold;
    font-family:var(--content-font);
}
.info span{
    margin-right:0.7rem;
}





h3{
    font-family:var(--header-font);
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
}
h4{
    font-family:var(--header-font);
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem auto 0.5rem;
}

#call_action{
    text-align: center;
    font-family: var(--content-font);
    font-size: 1.3rem;
    width:80%;
    margin:6rem auto 10rem;
}

#call_action a{
    font-weight:600;
    font-size: 2rem;
    display: block;
    text-decoration: none;
    margin:0 auto;
    border: 1px solid gray;
    color:black;
    border-radius:4px;
    padding:1rem;
    background-color:var(--header-color);
    max-width:480px;
}