/* google font */
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Kdam+Thmor+Pro&family=Roboto:ital,wght@1,100&display=swap');
/* normalize css */
@import url(../../styles/normalize.css);
/* common css */
@import url(./gallery/small.css);
@import url(./gallery/medium.css);
@import url(./gallery/large.css);
/* components */
@import url(./header.css);
@import url(./footer.css);

/* clean padding margin */
*{
    padding: 0;
    margin: 0;
}
/* define global css var */
:root{
    --title-font:Joan;
    --header-font:Kdam;
    --content-font:Roboto;

    --title-color: rgb(8,32,49);
    --nav-color:rgb(52,73,87);

    --page-id: 6;
}
html, body {
    height:100%;
}




/* ---------------------------------------main -------------- */
.g-photo{
    margin:5px;
}
.g-photo p{
    text-align: center;
}
.g-photo img{
    margin: 1rem auto;
    display: block;
    object-fit:contain;
    max-height: 300px;
    width:95%;
    max-width:400px;
    filter: blur(0em);
    transition: filter 0.5s;
}
.g-photo img[data-src]{
    filter: blur(0.2em);
}
#last_ga{
    border:none;
}