/* google font */
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Kdam+Thmor+Pro&family=Roboto:ital,wght@1,100&display=swap');
/* normalize css */
@import url(../../styles/normalize.css);
/* common css */
@import url(./home/small.css);
@import url(./home/medium.css);
@import url(./home/large.css);
/* components */
@import url(./header.css);
@import url(./footer.css);


/* clean padding margin */
*{
    padding: 0;
    margin: 0;
}
/* define global css var */
:root{
    --title-font:Joan;
    --header-font:Kdam;
    --content-font:Roboto;

    --title-color: rgb(8,32,49);
    --nav-color:rgb(52,73,87);

    --page-id: 1;
}
html, body {
    height:100%;
}
#wireframe{
    color:white;
    text-decoration: none;
}
/* ------------------------------------------main------------ */
main{
    font-family: var(--content-font);
    font-weight: 600;
}
.motto_d{
    height:2.5rem;
    margin: 0.5rem auto;
}
.motto{
    font-weight: 800;
    font-size: 1.2rem;
}
main h2{
    font-weight: 900;
    font-size: 2rem;
}

