/* google font */
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Kdam+Thmor+Pro&family=Roboto:ital,wght@1,100&display=swap');
/* normalize css */
@import url(../../styles/normalize.css);
/* common css */
@import url(./preston/small.css);
@import url(./preston/medium.css);
@import url(./preston/large.css);
/* components */
@import url(./header.css);
@import url(./footer.css);


/* clean padding margin */
*{
    padding: 0;
    margin: 0;
}
/* define global css var */
:root{
    --title-font:Joan;
    --header-font:Kdam;
    --content-font:Roboto;

    --title-color: rgb(8,32,49);
    --nav-color:rgb(52,73,87);

    --page-id: 2;
}
html, body {
    height:100%;
}
/* ------------------------------------------main------------ */
/*   hero image */

#weather-summary p{
    margin: 0 auto 0.2rem;
    border-bottom: 1px solid white;
    padding-bottom: 0.2rem;
    font-weight:bold;
}
.ws_i{
    vertical-align: top;
    margin: 0 auto;
}
.ws_k{
    float:left;
    width: 5.5rem;
    text-align: right;
}
.ws_v{
    float:right;
    width: 6.5rem;
    text-align: left;
    color:yellow;
}
.ws_sep{
    font-weight: 900;
}
#hero-img{
    width: 100%;
}
.cur_weather{
    text-transform: capitalize;
}

/*      forecast */
#forecast_title{
    text-align: center;
    margin: 1rem auto;
}
#forecast_sum{
    display:flex;
    flex-wrap: no-wrap;
    width:99%;
    max-width:960px;
    border:1px solid black;
    border-right: 0;
}
.day_fore{
    display:flex;
    flex-direction: column;
    margin:0;
    width:20%;
    border-right:1px solid black;
}
.day{
    background-color:rgb(127,171,140);
}
.day p{
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.7rem;
    font-weight:bold;
}
.icon p{
    text-align: center;
    font-weight:bold;
    margin:0.4rem auto;
}
.icon img{
    width:100%;
}