/* google font */
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Kdam+Thmor+Pro&family=Roboto:ital,wght@1,100&display=swap');
/* normalize css */
@import url(../../styles/normalize.css);
/* common css */
/* components */
@import url(./hero_summary/hero_summary.css);
@import url(./events/events.css);
@import url(./header.css);
@import url(./footer.css);


/* clean padding margin */
*{
    padding: 0;
    margin: 0;
}
/* define global css var */
:root{
    --title-font:Joan;
    --header-font:Kdam;
    --content-font:Roboto;

    --title-color: rgb(8,32,49);
    --nav-color:rgb(52,73,87);

}
html, body {
    height:100%;
}

header{
    --page-id: 3;
}
/* ------------------------------------------main------------ */
