/* google font */
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Kdam+Thmor+Pro&family=Roboto:ital,wght@1,100&display=swap');
/* normalize css */
@import url(../../styles/normalize.css);
/* common css */
/* @import url(./small.css);
@import url(./medium.css);
@import url(./large.css); */
/* components */
@import url(./header.css);
@import url(./footer.css);



/* clean padding margin */
*{
    padding: 0;
    margin: 0;
}
/* define global css var */
:root{
    --title-font:Joan;
    --header-font:Kdam;
    --content-font:Roboto;

    --title-color: rgb(8,32,49);
    --nav-color:rgb(52,73,87);

    --page-id: 5;
}
html, body {
    height:100%;
}
/* --------------------------------form -------------------------------- */
main h2{
    text-align: center;
}
form{
    width: 100%;
}
form legend{
    font-size:1.5rem;
    font-weight: 600;
    padding:0 0.5rem;
}
form fieldset {
    border-radius: 5px;
    margin:1.5rem 0;
    padding: 1.5rem;
}
form label{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}
form div{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.5rem;
}
.storm_info, .reporter_info{
    display: block;
}
.add_info_radio{
    display:inline-block;
    margin-right:0.5rem;
    font-size:0.9rem;
}
.add_info_radio input{
    display:inline-block;
    margin-top: 0.1rem;
    margin-right: 0.2rem;
    padding:0.6rem;
}
.add_info_ck{
    display:block;
    margin-top: 0.5rem;
    font-size:0.9rem;
}
.add_info_ck input{
    display:inline-block;
    margin-right: 0.5rem;
    padding:0.6rem;
}

select,.storm_info input,.reporter_info input, textarea{
    display: block;  
    padding:0.6rem;
    border-radius: 3px;
    border: 1px solid black;
    width: 15rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
}
.submit_btn input{
    height:2.5rem;
    width: 15rem;
    padding:0.5rem;
    margin-left:1.5rem;
    margin-bottom: 2rem;
    font-weight: 900;
    background-color: var(--nav-color);
    color:white;
}

#str_range{
    display:block;
    margin-top:-2.8rem;
    margin-left:16rem;
    line-height:2.5rem;
}

/* laptop */
@media only screen and (max-width:1096px) and (min-width:32.5rem){
    main{
        width: 80%;
        margin:2rem auto 0;
        font-family: var(--content-font);
    }

}
/* mobile */
@media only screen and (max-width:32.5rem){
    main{
        margin:2rem auto 0;
        font-family: var(--content-font);
    }
}
/* desktop */
@media only screen and (min-width:1096px){
    main{
        width: 80%;
        margin:2rem auto 0;
        font-family: var(--content-font);
    }
}