@import url('https://fonts.googleapis.com/css2?family=Joan&family=Kdam+Thmor+Pro&family=Roboto:ital,wght@1,100&display=swap');

:root{
    --w1-bg-color: rgb(212, 16, 222);
}
* {
    margin: 0;
    padding: 0;
}
body{
    min-width: 1440px;
}
/* header section */
header{
    position:relative;
    margin:15% auto 0;
    max-width: 40%;
}
#header-name{
    display:grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--w1-bg-color);
    margin:0 auto;
    border-radius: 1em;
}
#header-name h2{
    font-size: 2em;
    text-align: center;
    font-family: Kdam;
    line-height: 2em;
}
#header-photo{
    position:absolute;
    right: 5%;
    top: 40%;
}
#header-photo img{
    width: 8em;
    height:12em;
}
/* main section */
main{
    margin:2em auto;
}
#main-section{
    margin:0 auto;
    display:grid;
    max-width: 40%;
}
#assignment{
    background-color:white;
    border-radius: 0.5em;
    padding:0 2em;
}
#assignment-head{
    border-bottom:1px solid gray;
    margin-bottom:1em;
}
/* footer section */
footer{
    margin:2em auto;
    max-width: 40%;
}
footer div{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--w1-bg-color);
    margin:0 auto;
    padding: 0.5em;
    border-radius: 1em;
}
#copyright{
    grid-row: 1/2;
    grid-column: 1/2;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    text-align: center;
    font-family: Kdam;
    line-height: 1.5em;
}
#footer-last-update{
    grid-row:2/3;
    grid-column: 1/2;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    text-align: center;
    font-family: Kdam;
    line-height: 1.5em;
}