/* laptop */
@media only screen and (min-width:32.5rem){
    nav{
        padding:1.2rem;
    }
    nav div{
        display:none;
    }
    nav ul{
        width:100%;
        display:flex;  
        flex-wrap: nowrap; 
        overflow: hidden;
        z-index:0;
        position:relative;
    }
    nav ul li{
        padding: 0 16px;
        margin:0 max(2rem);
        white-space:nowrap;
        text-overflow: clip;
    }
    #laptop_switch{
        position:absolute;
        float:right;
        right: -6%;
        height:1.5rem;
        width: 4rem;
        z-index:1;
        background-color:var(--nav-color);
    }
    #laptop_switch img{
        height:1.5rem;
    }
    /* wireframe */
    #logo-title{
        padding: 2rem;
        margin:0 auto;
        max-width: 20rem;
    }
}