@import url(../styles/style.css);
img{
    display: block;
    margin: 20px auto;
    border: 1px solid black;
    width:40%;
}
p{
    text-align: center;
    font-size: 2rem;
    font-weight:bold;
    margin-top: 5rem;
}
body{
    height: 100%;
}