@import "small.css";
@import "medium.css";
@import "large.css";
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Kdam+Thmor+Pro&family=Roboto:ital,wght@1,100&display=swap');
/* common css */
:root{
    --w1-bg-color: rgb(8,32,49);
    --title-font:Joan;
    --head-font:Kdam;
    --content-font:Roboto;
    --p-t-bgc:rgb(52,73,87);
}
*{
    margin: 0;
    padding: 0 ;
}

#header-div{
    background-color: var(--w1-bg-color);
    margin: 0 auto;
    width: 100%;
    /* height: 6.2rem; */
}
#header-div > p{
    margin: 0 auto;
    color: white;
    font-size: 1.5rem;
    font-weight:600;
    text-align: center;
    font-family: var(--content-font);
    line-height: 2rem;
}
h2{
    margin: 0 auto;
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: var(--head-font);
    line-height: 4rem;
}


/* -------------------------------------------list------------ */

li{
    padding: 0;
    list-style-type:none;
    padding: 5%;
}
.principle{
    border: 1px solid black;
    border-radius: 12px;
    width: 100%;
}
.t-box{
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: var(--p-t-bgc);
}
h3{
    margin: 0 auto;
    line-height:3rem;
    font-size:2rem;
    text-align: center;
    color: white;
}
.principle > a, p{
    margin:2px auto;
    color:var(--p-t-bgc);
    text-align: center;
}
img{
    border: 1px solid gray;
    margin: 2%;
    width: 96%;
}

/* ---------------------------------------- footer section --------------------------------------- */

#copy-info{
    background-color: var(--w1-bg-color);
    margin:0 auto;
    padding: 0.5rem;
}
#copyright{
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    font-family:var(--content-font);
    line-height: 1.5rem;
}
#footer-last-update{
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    font-family: var(--content-font);
    line-height: 1.5rem;
}
a{
    color: white;
}