@media only screen and (min-width:1096px){
    main{
        margin:0 auto;
        width:80%;
    }
    .citys{
        width:100%;
        min-width:980px;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-around;
        margin:1rem auto;
        background-color:rgb(207,233,247);
        text-align:center;
        border-radius: 0.5rem;
    }
    .city{
        padding:1%;
        width:30%;
        margin-top:1rem;
        margin-bottom:1rem;
        background-color:rgb(255,243,205);
        border-radius: 0.5rem;
    }
    .info{
        padding: 0.5rem;
    }
    .city img{
        width:98%;
        border-radius: 0.8rem;
        margin: 0 auto;
    }
}