@import url('https://fonts.googleapis.com/css2?family=Joan&family=Kdam+Thmor+Pro&family=Roboto:ital,wght@1,100&display=swap');

:root{
    --w1-bg-color: rgb(212, 16, 222);
    --title-font:Joan;
    --head-font:Kdam;
    --content-font:Roboto;
}
/* ---------------------------------------- clear default value --------------------------------------- */
* {
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}

/* ---------------------------------------- header section --------------------------------------- */
header{
    margin:15% auto 0;
}
#header-info{
    background-color: var(--w1-bg-color);
}
#header-name h2{
    font-size: 2rem;
    text-align: center;
    font-family: var(--head-font);
    line-height: 4rem;
}
#header-photo img{
    display: block;
    margin:auto;
    width: 10rem;
    height:15rem;
}

/* ---------------------------------------- main section --------------------------------------- */
/* main section */
main{
    margin:2rem auto;
}
#main-section{
    margin:0 auto;
    border-radius: 0.5rem;
}
#assignment{
    padding:0 3rem;
}
#assignment-head{
    border-bottom:1px solid gray;
    margin-bottom:1rem;
    font-family: var(--head-font);
}
#assignment-list{
    font-family: var(--content-font);
    line-height:1.5rem;
}

/* ---------------------------------------- footer section --------------------------------------- */

#copy-info{
    background-color: var(--w1-bg-color);
    margin:0 auto;
    padding: 0.5rem;
}
#copyright{
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    font-family:var(--content-font);
    line-height: 1.5rem;
}
#footer-last-update{
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    font-family: var(--content-font);
    line-height: 1.5rem;
}