/* mobile */
@media only screen and (max-width:32.5rem){
    /* ----------------------------------hero image */
    
    main{
        margin:2rem auto 0;
        font-family: var(--content-font);
    }
    #gallery{
        width:100%;
    }
    .g-photo{
        width: 95%;
        margin:0 auto;
        border:1px solid gray;
        border-radius: 5%;
        overflow: hidden;
    
    }
}